<mat-card>
    <mat-card-title>
        <h2 appTitulos>{{titulo}}</h2>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="frm" (ngSubmit)="aplicar()">
            <div *ngIf="alumno.id!=0" class="col-sm-12">
                <mat-form-field appearance="fill"  class="col-md-12">
                    <mat-label>Legajo</mat-label>
                    <input matInput formControlName="legajo" [(ngModel)]="alumno.id" readonly>
                  </mat-form-field>
            </div>
           
        
            <div class="row">
                <mat-form-field appearance="fill"  class="col-md-6">
                    <mat-label>Nombre</mat-label>
                 
                    <input type="text" formControlName="nombre" [(ngModel)]="alumno.nombre" matInput>        
                    <mat-error *ngIf="frm.controls['nombre'].errors?.['required']">El campo Nombre es requerido</mat-error>
                    <mat-error *ngIf="frm.controls['nombre'].errors?.['minlength']">El campo Nombre debe tener al menos 3 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill"  class="col-md-6">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" [(ngModel)]="alumno.apellido">
                    <mat-error *ngIf="frm.controls['apellido'].errors?.['required']">El campo Nombre es requerido</mat-error>
                    <mat-error *ngIf="frm.controls['apellido'].errors?.['minlength']">El campo Nombre debe tener al menos 3 caracteres</mat-error>
                    </mat-form-field>             
            </div>
            <div class="row">
                <mat-form-field appearance="fill"  class="col-md-6">
                    <mat-label>DNI</mat-label>
                    <input matInput type="number" formControlName="dni" [(ngModel)]="alumno.dni">
                    <mat-error *ngIf="frm.controls['dni'].errors?.['required']">El campo DNI es requerido</mat-error>
                    <mat-error *ngIf="frm.controls['dni'].errors?.['min'] || frm.controls['dni'].errors?.['max']">El n&uacute;mero de DNI no es v&aacute;lido</mat-error>
                </mat-form-field>
        
                    <mat-form-field appearance="fill" class="col-md-6">
                        <mat-label>Seleccione una opci&oacute;n</mat-label>
                        <mat-select formControlName="sexo" [(ngModel)]="alumno.sexo" >
                          <mat-option value="0">Sin especificar</mat-option>
                          <mat-option value="1">Masculino</mat-option>
                          <mat-option value="2">Femenino</mat-option>
                        </mat-select>
                        <mat-error *ngIf="frm.controls['sexo'].errors?.['required']">El campo Sexo es requerido</mat-error>
                      </mat-form-field>
                                
            </div>
        
            <div class="row">        
                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput max="{{fechaMaxima}}" [matDatepicker]="picker1" formControlName="fechaNac" [(ngModel)]="alumno.fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                    <mat-error *ngIf="frm.controls['fechaNac'].errors?.['required']">El campo fecha de nacimiento es requerido</mat-error>
                </mat-form-field>            
        
                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Edad</mat-label>
                    <input matInput value="{{alumno.fechaNacimiento | edad}}" readonly>
                    </mat-form-field>
            </div>
        
            <div class="row">
        
                <mat-form-field appearance="fill"  class="col-md-6">
                    <mat-label>Correo electr&oacute;nico</mat-label>
                    <input matInput type="mail" formControlName="email" [(ngModel)]="alumno.correoElectronico">
                    <mat-error *ngIf="frm.controls['email'].errors?.['required']">El campo correo electr&oacute;nico es requerido</mat-error>
                    <mat-error *ngIf="frm.controls['email'].errors?.['pattern']">El correo electr&oacute;nico no tiene el formato requerido</mat-error>
                </mat-form-field>
        
        
                <mat-form-field appearance="fill" class="col-md-6">
                    <mat-label>Tel&eacute;fono</mat-label>
                    <input matInput type="tel" formControlName="telefono" [(ngModel)]="alumno.telefono">
                    </mat-form-field>
                        
            </div>
        
        
            <mat-form-field appearance="fill" class="col-md-12">
                <mat-label>Direcci&oacute;n</mat-label>
                <input matInput formControlName="direccion" [(ngModel)]="alumno.direccion">
                <mat-error *ngIf="frm.controls['direccion'].errors?.['required']">El campo correo electr&oacute;nico es requerido</mat-error>
                </mat-form-field>
        
            <div class="col-sm-12 text-end">
                <button type="submit" mat-raised-button color="primary">Confirmar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>


